

.App {
 display: grid;
   grid-template-columns: 1fr 1fr 1fr; /* Adjust the fr units based on your design needs */
   height: 100vh; /* Full viewport height */
   align-items: center; /* Aligns items vertically */
   justify-items: center; /* Aligns items horizontally */
   background-color: rgb(10, 1, 18);
   color:white
}


