@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


.border-gradient {
    @apply bg-gradient-to-b from-pink-600 via-fuchsia-800 to-pink-800;
    background-color: rgb(0, 179, 179);
}

.border-gradient-side {
    @apply bg-gradient-to-b from-pink-600 via-fuchsia-800 to-blue-800;
    background-color: rgb(0, 165, 242);
}

.text-blue {
    color: rgb(0, 251, 251);
}

.neon-text {
    color: rgb(251, 251, 251); /* White text color */
    text-shadow:
      0 0 2px #19f6e8, /* Cyan glow */
      0 0 3px #19f6e8, /* Larger cyan glow */
      0 0 5px #19f6e8, /* Even larger cyan glow */
      0 0 10px #0fa, /* Green glow */
      0 0 10px #0fa; /* Larger green glow */
  }

  .neon-border:hover {  
  box-shadow: 
    0 0 85px rgba(255, 0, 255, 0.427), 
    0 0 45px #19f6e760;
  }

  .font-side-box {
    @apply text-[2.2rem] text-pink-500;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
    
  }

  .p-side-box {
    @apply p-3 text-cyan-400 text-lg;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .chakra-font {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .neon-icon:hover {
    box-shadow:
    0 0 10px #19f6e8, /* Cyan glow */
    0 0 12px #19f6e8, /* Larger cyan glow */
    0 0 25px #19f6e8, /* Even larger cyan glow */
    0 0 20px #19f6e8, /* Green glow */
    0 0 40px #19f6e8; /* Larger green glow */;
  }
 