@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


.border-gradient {
    @apply bg-gradient-to-b from-pink-600 via-fuchsia-800 to-pink-800 bg-cyan-500;
    
}

.border-gradient-side {
    @apply bg-gradient-to-b from-pink-600 via-fuchsia-800 to-blue-800 bg-cyan-500;
    
}

.text-blue {
    color: rgb(0, 251, 251);
}

.neon-text {
    text-shadow:
      0 0 2px #c026d3, /* Cyan glow */
      0 0 3px #c026d3, /* Larger cyan glow */
      0 0 5px #c026d3, /* Even larger cyan glow */
      0 0 10px #c026d3, /* Green glow */
      0 0 10px #0fa; /* Larger green glow */
  }

  .font-side-box {
    @apply text-[2.2rem] text-pink-500;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
    
  }

  .p-side-box {
    @apply p-3 text-cyan-400 text-lg;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .chakra-font {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .neon-icon:hover {
    filter: invert(33%) sepia(100%) saturate(5985%) hue-rotate(285deg) brightness(95%) contrast(92%);  
  }

  .neon-technology {
    box-shadow:
    0 0 10px #c026d3, 
    0 0 12px #c026d3,
    0 0 10px #c026d3 inset, 
    0 0 12px #c026d3 inset;
  }